/* Style for the table */
html {
  background-color: #000000ad;
}
body {
  margin: 0px;
  font-family: 'Russo One', sans-serif;
}

header {
  display: flex;
  position: fixed;
  width: 100%;
  margin-right: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: #262525;
  padding: 10px 20px;
}

h2 {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
}

.header-link {
  text-decoration: none;
}

.header-link h2 {
  color: white;
}

.import-export {
  display: flex;
  margin-right: 20px;
}

.import-export button {
  background-color: #F5CC00;
  color: #000;
  padding: 8px 16px;
  border: none;
  margin: 0 10px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
  color: #ffffffe3;
}

thead th {
  position: sticky;
  top: 52px;
  z-index: 1;
}

th, td {
  padding: 4px 4px;
}

th {
  background-color: #F5CC00;
  color: black;
}

tbody tr:nth-child(even) {
  background-color: #403e3e;
}

tbody tr:hover {
  background-color: #2b2929;
}

td {
  text-align: center;
}

table th {
  font-size: 15px;
}

table td {
  font-size: 15px;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background-color: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
}

