/* Style for the table */
html {
    background-color: #000000ad;
}

body {
    margin: 0px;
}

header {
    display: flex;
    width: 100%;
    margin-right: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: #262525;
    padding: 10px 20px;
}

h2 {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
}

.import-export {
    display: flex;
    margin-right: 20px;
}

.import-export button {
    background-color: #F5CC00;
    color: #000;
    padding: 8px 16px;
    border: none;
    margin: 0 10px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.header-link {
    text-decoration: none;
}

.header-link h2 {
    color: white;
}