<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}New Era{% endblock %}</title>
    {% load static %}
    <script src="{% static 'script.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'upload_list.css' %}">
  </head>
  <header>
    {% comment %} <div class="logo"> {% endcomment %}
      <h2>NEW ERA</h2>
      {% comment %} <img src="logo.png" alt="NEW ERA"> {% endcomment %}
    {% comment %} </div> {% endcomment %}
    <div class="import-export">
      <a href="/upload_file"><button class="import">Import</button></a>
      <button class="export">Export</button>
      <a href="{% url 'logout' %}"><button class="quit">Log out</button></a>
    {% comment %} </div>
    <div class="date-range">
      <label for="start-date"></label>
      <input type="date" id="start-date" name="start-date">
      <label for="end-date"></label>
      <input type="date" id="end-date" name="end-date">
    </div> {% endcomment %}
  </header>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
