<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}New Era{% endblock %}</title>
    {% load static %}
    <script src="{% static 'script.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'upload_list.css' %}">
  </head>
  <header>
    <a href="/"><h2>NEW ERA</h2></a>
    <div class="import-export">
      <button>Sort</button>
      <a href="/upload_file"><button class="import">Import</button></a>
      <button class="export">Export</button>
      <a href="{% url 'logout' %}"><button class="quit">Log out</button></a>
  </header>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
